<div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
        <h4>About</h4>
        <a href="golang.org">golang</a> and <a href="landscape.cncf.io">landscape.cncf.io</a> enthusiast.<br>
        Manufacturing engineer turned IT Engineer, Software Engineer, and Site Reliability Engineer.
    </div>
    <div class="mdl-card__actions about-button">
        <a href="{{ .Site.Params.github }}" target="_blank" id="about-button" class="mdl-button mdl-js-button mdl-button--accent">
            <i class="fab fa-github fa-lg"></i></a>
        <a href="{{ .Site.Params.twitter }}" target="_blank" id="about-button" class="mdl-button mdl-js-button mdl-button--accent">
            <i class="fab fa-twitter fa-lg"></i></a>
        <a href="{{ .Site.Params.medium }}" target="_blank" id="about-button" class="mdl-button mdl-js-button mdl-button--accent">
            <i class="fab fa-medium-m fa-lg"></i></a>
        <a href="{{ .Site.Params.linkedin }}" target="_blank" id="about-button" class="mdl-button mdl-js-button mdl-button--accent">
            <i class="fab fa-linkedin fa-lg"></i></a>
    </div>
</div>