
<!-- <section class="section--center mdl-grid mdl-grid--no-spacing"> -->
	<!-- <div class="mdl-grid mdl-cell mdl-cell--12-col">Last 4 Articles</div>
	<div class="mdl-grid mdl-cell mdl-cell--12-col">
		{{ range first 4 .Site.Pages }}
		<div class="mdl-cell mdl-cell--3-col mdl-box mdl-color--{{ .Site.Params.mdlSecondary }}">
			<a href="{{ .Permalink }}">{{ .Title }}</a>
		</div>
		{{ end }}
	</div> -->
<!-- </section> -->


<aside class="aside mdl-components__nav mdl-shadow--8dp">
	<div class="option">
		<div class="option-icon">
			<div class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect">
				<i class="material-icons">looks_one</i>
			</div>
		</div>
		<div class="option-caption">Badges</div>
	</div>
	<div class="option">
		<div class="option-icon">
			<div class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect">
				<i class="material-icons">keyboard_arrow_right</i>
			</div>
		</div>
		<div class="option-caption">Buttons</div>
	</div>
	<div class="option">
		<div class="option-icon">
			<div class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect">
				<i class="material-icons">view_stream</i>
			</div>
		</div>
		<div class="option-caption">Layouts</div>
	</div>
	<div class="option">
		<div class="option-icon">
			<div class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect">
				<i class="material-icons">refresh</i>
			</div>
		</div>
		<div class="option-caption">Loading</div>
	</div>
</aside>